<table>
    <thead>
      <tr>
        <th>DBD</th>
        <th>I0</th>
        <th>Kd</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data['DBD']['Name']}}</td>
        <td>{{data['DBD']['I0']}}</td>
        <td>{{data['DBD']['kd']}}</td>
      </tr>
    </tbody>
<table>

<table>
    <thead>
      <tr>
        <th>LBD</th>
        <th>k1</th>
        <th>k2</th>
        <th>k3</th>
        <th>I</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data["LBD"]['Name']}}</td>
        <td>{{data["LBD"]['k1']}}</td>
        <td>{{data["LBD"]['k2']}}</td>
        <td>{{data["LBD"]['k3']}}</td>
        <td>{{data["LBD"]['I']}}</td>
      </tr>
    </tbody>
<table>
